/* CSS Document */

	#albumcover {
			border-style: solid; 1px black;
	}

		.sgtpeppercover {
		background-image: url(http://www.sonyinsider.com/wp-content/uploads/2009/03/sgt-pepper.jpg);		
		background-repeat: no-repeat;
		background-size: 100% 100%;
		display: block; 
		margin-left: auto; margin-right: auto;
		width: 477px; height: 476px; 
		border:4px solid;
	}

/* @font-face rule declarations*/

	@font-face {	
  			font-family: "Fascinate";
  			font-style: normal;
  			font-weight: 400:;
  			src: url("https://fonts.googleapis.com/css?family=Fascinate")
  	}

	@font-face {	
  			font-family: "WendyOne";
  			font-style: normal;
  			font-weight: 400:;
  			src: url("https://fonts.googleapis.com/css?family=Wendy+One")
  	}

	@font-face {	
  			font-family: "RobotoSlab";
  			font-style: normal;
  			font-weight: 400:;
  			src: url("https://fonts.googleapis.com/css?family=Roboto+Slab")
  	}


  	h1 {
  			font-family: "Fascinate", "Shojumaru", "Modak", cursive;
  			font-size: 250%;
  	}

	h2 {
  			font-family: "Fascinate", "Shojumaru", "Modak", cursive;
  	}


