/* CSS Document */

	#albumcover {
			border-style: solid; 1px black;
	}

		.sgtpeppercover {
		background-image: url(http://www.sonyinsider.com/wp-content/uploads/2009/03/sgt-pepper.jpg);		
		background-repeat: no-repeat;
		background-size: 100% 100%;
		display: block; 
		margin-left: auto; margin-right: auto;
		width: 477px; height: 476px; 
		border:4px solid;
	}

/* @font-face rule declarations*/

	@font-face {	
  			font-family: "Fascinate";
  			font-style: normal;
  			font-weight: 400:;
  			src: url("https://fonts.googleapis.com/css?family=Fascinate")
  	}

	@font-face {	
  			font-family: "WendyOne";
  			font-style: normal;
  			font-weight: 400:;
  			src: url("https://fonts.googleapis.com/css?family=Wendy+One")
  	}

	@font-face {	
  			font-family: "RobotoSlab";
  			font-style: normal;
  			font-weight: 400:;
  			src: url("https://fonts.googleapis.com/css?family=Roboto+Slab")
  	}


  h1 {
  			font-family: "Fascinate", "Shojumaru", "Modak", cursive;
  			font-size: 250%;
  	}

	h2 {
  			font-family: "Fascinate", "Shojumaru", "Modak", cursive;
  	}

/* pseudo-class rule declarations*/
  a {
    font-family: monospace;
    text-decoration: none;
    font-weight: none;
  }

  a:link {
    color: Green;
  }

  a:visited {
    color: Red;
  }

  a:hover {
   text-decoration: underline;
   color: #00c; 
   font-family: cursive;
   background-color: #D3EB00;
  }

  a:active {
    font-weight:bold;
  }


  tr:nth-child(even) {
      background-color: lemonchiffon;
  }

  tr:nth-child(odd) {
      background-color: lawngreen;
  }





 /* color class selectors */
  .peachyhex {
    background-color: #efe4b3;
  }

  .silverhex {
    background-color: #D1D1D1;
  }

  th {
    background-color: #D1D1D1;    
  }


 /* bootstrap custom styles */

.img-circle {
    background-image: url(http://www.sonyinsider.com/wp-content/uploads/2009/03/sgt-pepper.jpg);    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block; 
    margin-left: auto; margin-right: auto;
    width: 477px; height: 476px; 
    border:4px solid;
  }



.customTrackHd{
    margin: 3px;
    border: 1px solid black;    
    border-collapse: collapse; 
    border-width: medium;   
    padding: 5px 0px 5px 5px;
    text-align: center;    
  }




