/* CSS Document */
/* ID selectors */
/*#masthead {
	font-family: "comic sans MS"; font-size: 60px;
	}
*/
#footer {
	font-family: "comic sans MS"; font-size: 20px; text-align: center; 
	} 
	
#hyperlink {
	font-family: "comic sans MS"; 
	font-size: 20px;
	word-spacing: 30px;
	text-indent: 3%;
	}

  .linktext {
    font-family: "comic sans MS"; 
    font-size: 20px;
  }

	.restaurantimage {
		background-image: "sandwich.jpg";		
		background-repeat: no-repeat;
		background-size: 100% 100%;
		display: block; 
		margin-left: auto; margin-right: auto;
		width: 400px; height: 150px; 
		border:4px solid;
	}


/* @font-face rule declarations */

	@font-face {	
  			font-family:"aclonica";
  			font-style: normal;
  			font-weight: 400:;
  			src: url("http://use.edgefonts.net/aclonica")
  	}

	@font-face {	
  			font-family: "Fascinate";
  			font-style: normal;
  			font-weight: 400:;
  			src: url("https://fonts.googleapis.com/css?family=Fascinate")
  	}

	@font-face {	
  			font-family: "WendyOne";
  			font-style: normal;
  			font-weight: 400:;
  			src: url("https://fonts.googleapis.com/css?family=Wendy+One")
  	}

	@font-face {	
  			font-family: "RobotoSlab";
  			font-style: normal;
  			font-weight: 400:;
  			src: url("https://fonts.googleapis.com/css?family=Roboto+Slab")
  	}


	h1 {
  			font-family: "aclonica", "Fascinate", "Shojumaru", "Modak", cursive;
  			font-size: 250%;
  	}

	h2 {
  			font-family: sans-serif;
        color: Red; font-weight: bold;
  	}

/* pseudo-class rule declarations*/
  a {
  	font-family: "comic sans MS"; font-size: 21px;
    text-decoration: none;
    font-weight: normal;
  }

  a:link {
    color: #136a9b;
  }

  a:visited {
    color: Red;
  }

  a:hover {
   text-decoration: none;
   color: #00c; 
   font-family: "comic sans MS";
   font-weight:bold;
     }

  a:active {
    font-weight:normal;
  }


/* class selectors */
	.masthead {
		font-family:"aclonica", cursive;
		font-size:60px;
		font-weight:normal;
		color: black;
    text-align: center;
	} 	

	.boldlabels {
		font-family:"Comic sans MS", cursive;
		font-size:25px;
		font-weight:bold;
		color: black;
	} 	



/* color class selectors */
	.peachyhex {
		background-color: #efe4b3;
	}
	.white {
		background-color: #fff;
	}

