/* CSS Document */
/* ID selectors */
#masthead {
	font-family: "comic sans MS"; font-size: 60px; 
	}

#bottombanner {
	font-family: "comic sans MS"; font-size: 20px; 
	} 



	.restaurantimage {
		background-image: "sandwich.jpg";		
		background-repeat: no-repeat;
		background-size: 100% 100%;
		display: block; 
		margin-left: auto; margin-right: auto;
		width: 400px; height: 150px; 
		border:4px solid;
	}

/* @font-face rule declarations */

	@font-face {	
  			font-family:"aclonica";
  			font-style: normal;
  			font-weight: 400:;
  			src: url(http://use.edgefonts.net/aclonica)
  	}

	@font-face {	
  			font-family: "Fascinate";
  			font-style: normal;
  			font-weight: 400:;
  			src: url("https://fonts.googleapis.com/css?family=Fascinate")
  	}

	@font-face {	
  			font-family: "WendyOne";
  			font-style: normal;
  			font-weight: 400:;
  			src: url("https://fonts.googleapis.com/css?family=Wendy+One")
  	}

	@font-face {	
  			font-family: "RobotoSlab";
  			font-style: normal;
  			font-weight: 400:;
  			src: url("https://fonts.googleapis.com/css?family=Roboto+Slab")
  	}


	h1 {
  			font-family: "aclonica", "Fascinate", "Shojumaru", "Modak", cursive;
  			font-size: 250%;
  	}

	h2 {
  			font-family: "Fascinate", "Shojumaru", "Modak", cursive;
  	}



/* class selectors */
	.masthead {
		font-family:"aclonica", cursive;
		font-size:60px;
		font-weight:normal;
		color: black;
	} 	

	.boldlabels {
		font-family:"Comic sans MS", cursive;
		font-size:25px;
		font-weight:bold;
		color: black;
	} 	

/* color class selectors */
	.peachyhex {
		background-color: #efe4b3;
	}


